body {
    margin: 0;
}
*{
    font-family: 'Tahoma', Geneva, sans-serif;
}
.iconType path{
    fill: #fff;
}

@media (min-width: 1050px) {
    body{
        margin: 0 auto;
        width: 80vw;
    }
}